# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env

# Node
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Project specifics
/tmp/merlin_agent_id.txt
*.ovpn
creds.txt
.env
